/* Global Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    background: #f4f4f9;
    line-height: 1.6;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  main.content {
    flex-grow: 1;
    padding: 20px;
  }
  